#deleteButton {
    background-color: #DD4B39;
    color: black;
}

#changeStateButton {
    background-color: lightgrey;
    color: black;
}

#changeTitleButton {
    background-color: #ffd700;
    color: black;
}

#gitButton {
    color: black;
}

.descBox li {
    font-size: 120%;
}

.languageLabelBox span {
    margin-right: 2%;
}

#successAlertBox {
    display: none;
}

#dummieInput {
    display: none;
}

#workstepTimeColumn {
    width: 18%;
}

.descRemoveBtn {
    background-color: #DD4B39;

}

.descEditBtn {
    background-color: #ffd700;
}