body {
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.model-dialog {
    position: fixed;
    top: 5%;
    left: 40%;
    width: 40%;
    z-index: 9999;
    display: none;
    border-style: solid;
    border-color: lightgrey;
}

small {
    margin-left: 0.5%;
}
