RewriteEngine On

RewriteRule ^login$ /pages/login.php [L]
RewriteRule ^register$ /pages/register.php [L]
RewriteRule ^unverified$ /pages/unverified.php [L]
RewriteRule ^start /index.php?page=start [L]
RewriteRule ^coding/project/(.+)$ /index.php?page=codingProject&project=$1 [L]
RewriteRule ^coding$ /index.php?page=codingMain [L]
RewriteRule ^user$ /index.php?page=userManagement [L]
