.settingsOutBox {
    position: absolute;
    left: 50%;
    display: none;
}

.settingsBox {
    position: relative;
    left: -50%;
    z-index: 1;
    width: 300pt;
    height: 200pt;
    background-color: lightgray;
    font-weight: bold;
}

.settingsHeader {
    background-color: gray;
    display: inline-flex;
}


.templateBox {
    display: inline-flex;
}




